.home-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #f2f2f2;

    .area-button {
        margin-top: 20px;
        padding: 10px;
        cursor: pointer;
    }
}
