.institution-dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    background-color: #f2f2f2;

    p {
        font-size: 40px;
    }
}
